# ============================================================
# CODEOWNERS
# Secure DevSecOps - Simon Movilidad
# Break Glass Policy
# ============================================================

# Default owners (2 required approvers)
* @Japrada380 @jhonalexrg4l-sudo

# GitHub Actions Workflows
.github/workflows/* @Japrada380 @jhonalexrg4l-sudo

# Terraform Infrastructure
terraform/** @Japrada380 @jhonalexrg4l-sudo

# Security Rules
.github/semgrep-rules/** @Japrada380 @jhonalexrg4l-sudo

# OWASP ZAP
.github/zap/** @Japrada380 @jhonalexrg4l-sudo

# Incident Response
incident-response/** @Japrada380 @jhonalexrg4l-sudo

# VAPT Documentation
vapt/** @Japrada380 @jhonalexrg4l-sudo

# Repository Documentation
README.md @Japrada380 @jhonalexrg4l-sudo